@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body
{
    overflow: hidden;
    font-family: "Varela Round", sans-serif;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;

}

ul
{
    text-decoration: none;
    list-style-type: none;
    display: flex;
}
li
{
    display: inline;
    padding: 1em;
}

a
{
    text-decoration: none;
    color: initial;
}

#map{
width: 30em;
}