<!DOCTYPE html>
<html>


    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WMS Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='preaccess.css') }}">

    </head>

    <body>
        <div id="center">
            <h1 id="logo">WMS</h1>
            <form method="post" action="/" encrypte="multipart/form-data">
                {{form.hidden_tag()}}
                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            
                {% endwith %}
                <p>{{form.username(placeholder="Username")}}</p>
                <p>{{form.password(placeholder="Password")}}</p>
                <p>{{ form.submit() }}</p>
                <a href="{{ url_for('register') }}">Dont have an account? Register</a>
        </div>
            
        </form>
    </body>


</html>