<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='postaccess.css') }}">
    <title>WMS</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{{url_for('dashboard')}}">Panel</a></li>
            <li><a href="{{url_for('products')}}">Produkty</a></li>
            <li><a href="{{url_for('orders')}}">Zamówienia</a></li>
            <li><a href="{{url_for('logout')}}">Wyloguj</a></li>
        </ul>
    </nav>
</header>

<table>
  <thead>
    <tr>
      <th>ID Inwentarza</th>
      <th>Nazwa Produktu</th>
      <th>SKU</th>
      <th>Opis</th>
      <th>ID Lokalizacji</th>
      <th>Ilość</th>
    </tr>
  </thead>
  <tbody>
      {% for item in prods %}
      <tr>
          <td>{{ item.inventory_id }}</td>
          <td>{{ item.product_name }}</td>
          <td>{{ item.sku }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.location_id }}</td>
          <td>{{ item.quantity }}</td>
      </tr>
    {% else %}
    <tr>
      <td colspan="6">Brak produktów do wyświetlenia.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</body>
</html>