<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='postaccess.css') }}">
    <title>WMS</title>
</head>
<header>
    <nav>
        <ul>
            <li><a href="{{url_for('dashboard')}}">Panel</a></li>
            <li><a href="{{url_for('products')}}">Produkty</a></li>
            <li><a href="{{url_for('receivings')}}">Przyjęcia</a></li>
            <li><a href="{{url_for('shipments')}}">Wysyłka</a></li>
            <li><a href="{{url_for('logout')}}">Wyloguj</a></li>
            <li><a href="{{url_for('add_shipment')}}">Dodaj Wysyłkę</a></li> <!--zmiana do receivu-->
        </ul>
    </nav>
</header>

<body>
    <h1>Wszystkie Przesyłki</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Kompletator</th>
                <th>Data utworzenia</th>
                <th>Kod kreskowy</th>
            </tr>
        </thead>
        <tbody>
            {% for shipment in ship_items %}
              <tr data-href="{{ url_for('shipments_detail', barcode=shipment.barcode) }}" style="cursor: pointer;">                
                <td>{{ shipment.username}}</td>
                <td>{{ shipment.shipment_date }}</td>
                <td>{{ shipment.barcode }}</td>
              {% endfor %}
        </tbody>
    </table>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const rows = document.querySelectorAll('tr[data-href]');
            
            rows.forEach(row => {
                row.addEventListener('click', function() {
                    const targetUrl = this.dataset.href;
                    if (targetUrl) {
                        window.location.href = targetUrl;
                    }
                });
            });
        });
    </script>
    </body>
</html>