<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='postaccess.css') }}">
    <title>WMS</title>
     <style>
        /* Opcjonalny CSS do ukrywania wierszy */
        .hidden-row {
            display: none;
        }

        /* Styl dla pola wyszukiwania, jeśli chcesz */
        .search-container {
            margin-bottom: 20px;
        }

        .search-container input[type="text"] {
            padding: 8px;
            width: 300px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        tbody tr:hover {
            cursor: pointer;
        }
    </style>
</head>
<header>
    <nav>
        <ul>
            <li><a href="{{url_for('dashboard')}}">Panel</a></li>
            <li><a href="{{url_for('products')}}">Produkty</a></li>
            <li><a href="{{url_for('receives')}}">Przyjęcia</a></li>
            <li><a href="{{url_for('shipments')}}">Wysyłka</a></li>
            <li><a href="{{url_for('logout')}}">Wyloguj</a></li>
        </ul>
    </nav>
</header>

<body>
    <h1>Wszystkie Przyjęcia</h1>
        <div class="search-container">
        <input type="text" id="searchInput" onkeyup="filterTable()" placeholder="Szukaj">
    </div>
   <a href="{{url_for('add_receive')}}">Dodaj Przyjęcie</a>
    <table id="productsTable" border="1">
        <thead>
            <tr>
                <th>ID Przyjęcia</th>
                <th>Kompletator</th>
                <th>Data utworzenia</th>
            </tr>
        </thead>
        <tbody>
            {% for receive in rec_items %}
              <tr data-href="{{ url_for('receives_detail', id=receive.id) }}" style="cursor: pointer;">
                <td>{{ receive.id }}</td>
                <td>{{ receive.username}}</td>
                <td>{{ receive.receives_date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const rows = document.querySelectorAll('tr[data-href]');

            rows.forEach(row => {
                row.addEventListener('click', function() {
                    const targetUrl = this.dataset.href;
                    if (targetUrl) {
                        window.location.href = targetUrl;
                    }
                });
            });
        });
    </script>

    <script>
        function filterTable() {
            let input = document.getElementById("searchInput");
            let filter = input.value.toLowerCase();

            let table = document.getElementById("productsTable");
            let tr = table.getElementsByTagName("tr");

            for (let i = 1; i < tr.length; i++) {
                let found = false;
                let td = tr[i].getElementsByTagName("td");

                for (let j = 0; j < td.length; j++) {
                    let cell = td[j];
                    if (cell) {
                        if (cell.textContent.toLowerCase().indexOf(filter) > -1) {
                            found = true;
                            break;
                        }
                    }
                }

                if (found) {
                    tr[i].classList.remove("hidden-row");
                } else {
                    tr[i].classList.add("hidden-row");
                }
            }
        }
    </script>
</body>
</html>