<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Szczegóły Przyjęcia - {{ receive_id }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='postaccess.css') }}">
</head>
<header>
    <nav>
        <ul>
            <li><a href="{{url_for('dashboard')}}">Panel</a></li>
            <li><a href="{{url_for('products')}}">Produkty</a></li>
            <li><a href="{{url_for('receives')}}">Przyjęcia</a></li>
            <li><a href="{{url_for('shipments')}}">Wysyłka</a></li>
            <li><a href="{{url_for('logout')}}">Wyloguj</a></li>
        </ul>
    </nav>
</header>
<body>
    <h1>Szczegóły Przyjęcia: {{ receive_id }}</h1>
    <p>Kompletator: {{ receive_info.username }}</p> 
    <p>Data utworzenia: {{ receive_info.receives_date.strftime('%Y-%m-%d %H:%M:%S') }}</p>

    {% if receive_products %}
        <table>
            <thead>
                <tr>
                    <th>Nazwa Przedmiotu</th>
                    <th>SKU</th>
                    <th>Przyjęta Ilość</th>
                    <th>Opis</th>
                    <th>Lokalizacja</th>
                </tr>
            </thead>
            <tbody>
                {% for item in receive_products %}
                    <tr>
                        <td>{{ item.product_name }}</td>
                        <td>{{ item.sku }}</td>
                        <td>{{ item.received_quantity }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.location_code}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Brak produktów w tym przyjęciu.</p>
    {% endif %}

    <a href="{{ url_for('receives') }}" class="back-link">Powrót do listy przyjęć</a>
</body>
</html>