<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='postaccess.css') }}">
    <title>WMS</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{{url_for('dashboard')}}">Panel</a></li>
            <li><a href="{{url_for('products')}}">Produkty</a></li>
            <li><a href="{{url_for('recivings')}}">Przyjęcia</a></li>
            <li><a href="{{url_for('shipments')}}">Wysyłka</a></li>
            <li><a href="{{url_for('logout')}}">Wyloguj</a></li>
        </ul>
    </nav>
</header>

<table>
  <thead>
    <tr>
      <th>Kompletator</th>
      <th>Data utworzenia</th>
      <th>Kod kreskowy</th>
      <th>Przedmioty</th>
    </tr>
  </thead>
  <tbody>
    {% for items in recive_items %}
    <tr>
      <td>{{ items.user_id }}</td>
      <td>{{ items.shipment_date }}</td>
      <td>{{ items.barcode }}</td>
      <td>{{ items.status }}</td>
    </tr>
    {% else %}
    <tr>
      <td colspan="4">Brak pozycji do wyświetlenia</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</body>
</html>