<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='postaccess.css') }}">
    <title>Regał {{ code }}</title>
</head>
<body>
    <header>
    <nav>
        <ul>
            <li><a href="{{url_for('dashboard')}}">Panel</a></li>
            <li><a href="{{url_for('products')}}">Produkty</a></li>
            <li><a href="{{url_for('orders')}}">Zamówienia</a></li>
            <li><a href="{{url_for('logout')}}">Wyloguj</a></li>
        </ul>
    </nav>
</header>
    <h2>Zawartość regału {{ polka_code }}</h2>
    {% if items %}
        <ul>
        {% for item in items %}
            <li>{{ item.name }} – ilość: {{ item.quantity }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Brak produktów w tym regale.</p>
    {% endif %}
</body>
</html>
