<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Półka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='postaccess.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="{{url_for('dashboard')}}">Panel</a></li>
            <li><a href="{{url_for('products')}}">Produkty</a></li>
            <li><a href="{{url_for('recivings')}}">Przyjęcia</a></li>
            <li><a href="{{url_for('shipments')}}">Wysyłka</a></li>
            <li><a href="{{url_for('logout')}}">Wyloguj</a></li>
        </ul>
    </nav>
</header>
<h1 style="text-align:center;">Regał {{reg_code}}</h1>
<div id="map"></div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script>
    const map = L.map('map', {
        crs: L.CRS.Simple,
        minZoom: -1,
        maxZoom: 1,
        zoomControl: false,
        dragging: false,
        scrollWheelZoom: false,
        doubleClickZoom: false,
        boxZoom: false,
        keyboard: false,
        touchZoom: false,
        attributionControl: false
    });

    const bounds = [[0, 0], [600, 800]];
    map.fitBounds(bounds);

    const polki = [
        { name: "01", coords: [[100, 250], [180, 370]] },
        { name: "02", coords: [[100, 430], [180, 550]] },
        { name: "03", coords: [[220, 250], [300, 370]] },
        { name: "04", coords: [[220, 430], [300, 550]] },
        { name: "05", coords: [[340, 250], [420, 370]] },
        { name: "06", coords: [[340, 430], [420, 550]] },
    ];

    // Pobierz kod nadrzędnego regału z szablonu Jinja
    const parentRegalCode = "{{ reg_code }}"; 

    polki.forEach(r => {

        const fullPolkaCode = `${parentRegalCode}-${r.name}`;

        L.rectangle(r.coords, { color: "rgb(252, 193, 0)", weight: 2, fillOpacity: 0.5 })
            .addTo(map)

            .on('click', () => window.location.href = `/pozycja/${fullPolkaCode}/${parentRegalCode}`)
            .bindTooltip(`Półka ${fullPolkaCode}`, { permanent: true, direction: "center" });
    });
</script>

</body>
</html>
