<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Szczegóły Wysyłki - {{ shipment_id }}</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='postaccess.css') }}">
</head>
<header>
    <nav>
        <ul>
            <li><a href="{{url_for('dashboard')}}">Panel</a></li>
            <li><a href="{{url_for('products')}}">Produkty</a></li>
            <li><a href="{{url_for('receives')}}">Przyjęcia</a></li>
            <li><a href="{{url_for('shipments')}}">Wysyłka</a></li>
            <li><a href="{{url_for('logout')}}">Wyloguj</a></li>
        </ul>
    </nav>
</header>
<body>
    <h1>Szczegóły Wysyłki: {{ shipment_id }}</h1> 
    <p>Kompletator: {{ shipment_info.username }}</p>
    <p>Data utworzenia: {{ shipment_info.shipment_date.strftime('%Y-%m-%d %H:%M:%S') }}</p>

    {% if shipment_products %}
        <table>
            <thead>
                <tr>
                    <th>Nazwa Przedmiotu</th>
                    <th>SKU</th>
                    <th>Wysłana Ilość</th>
                    <th>Opis</th>
                    <th>Lokalizacja</th>
                </tr>
            </thead>
            <tbody>
                {% for item in shipment_products %}
                    <tr>
                        <td>{{ item.product_name }}</td>
                        <td>{{ item.sku }}</td>
                        <td>{{ item.shipped_quantity }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.location_code }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Brak produktów w tej wysyłce.</p>
    {% endif %}

    <a href="{{ url_for('shipments') }}" class="back-link">Powrót do listy wysyłek</a>
</body>
</html>